.grid-container{
    background: #444;
    display: grid;
    grid-template-rows:[f-line] 150px[s-line] 150px[t-line] 150px  ;
    grid-template-columns:150px 150px 150px ;
    border: 5px solid #000;
}
.grid-item{
    border: 1px solid #000;
    background: lightgrey;
}
.grid-item:first-child{
    background: red;
    grid-row: f-line/t-line;
    grid-column: 1/3;
}