.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.blue{
    width: 100px;
    height: 100px;
    background: blue;
    min-width: 150px;
    text-align: center;
    height: 100px;
    width: 100px;
    flex: 1;
}
.orange{
    width: 100px;
    height: 100px;
    background: orange;
    min-width: 150px;
    text-align: center;
    height: 100px;
    width: 100px;
    order: 20;
}
.black{
    width: 100px;
    height: 100px;
    background: black;
    color: white;
    min-width: 150px;
    text-align: center;
    height: 100px;
    width: 100px;
    flex: 1 0 350px;
    order:50;
}