.flex-container{
    display:flex;
}
.flex-item{
    background: #248;
    color: #fff;
    padding: 10px;
    margin:10px;
}
.flex-container-1{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    
}
.flex-item-1{
    background-color: #248;
    color: #fff;
    margin: 5px;
    min-width: 120px;
    text-align: center;
    height: 100px;

}
.flex-item-green{
    background-color: green;
    color: #fff;
    margin: 5px;
    min-width: 120px;
    text-align: center;
    height: 100px;
    align-self: baseline;
}